---

---

<div class="relative flex flex-1 flex-col">
  <slot />
  <div
    class="mx-auto max-w-6xl absolute inset-0 -z-1 pointer-events-none after:absolute after:top-0 after:right-0.5 lg:after:-right-2 after:w-0 after:h-full after:border-r after:border-dashed after:border-border after:mask-[linear-gradient(to_bottom,transparent_0%,black_24%)] after:motion-safe:animate-rail-draw"
  >
  </div>
</div>
