---

---

<div class="relative flex min-h-full flex-col">
  <slot />
  <div
    class="mx-auto max-w-6xl absolute inset-0 -z-1 pointer-events-none after:absolute after:inset-y-0 after:-right-2 after:border-r after:border-dashed after:border-border"
  >
  </div>
</div>
