.project {
	min-height: 100vh;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	padding: 6rem 1.5rem;
}

.image {
	position: relative;
	width: 100%;
	border-radius: 0.5rem;
}

.image::before,
.image::after {
	content: '';
	position: absolute;
	z-index: -1;
	border-radius: 50%;
	filter: blur(3rem);
}

.image::before {
	bottom: -1rem;
	left: 1rem;
	background: var(--projects-project-image-shadow-color-1);
	width: 60%;
	height: 50%;
}

.image::after {
	top: 0;
	right: 5rem;
	background: var(--projects-project-image-shadow-color-2);
	width: 40%;
	height: 30%;
}

.content,
.body {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.body {
	gap: 2rem;
	width: min(100%, 640px);
}

.title {
	font-size: clamp(1.5rem, 2vw, 1.75rem);
	font-weight: 900;
}

.desc {
	font-size: clamp(1rem, 1.5vw, 1.125rem);
	font-weight: 500;
	color: var(--projects-project-desc-text);
}

.links,
.tags {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1rem;
	list-style: none;
	padding: 0;
}

.links {
	flex-direction: column-reverse;
	gap: 2rem;
}

.web,
.code {
	font-size: 1rem;
	font-weight: 700;
	border-radius: 0.5rem;
	padding: 0.75rem 1.125rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	width: 100%;
}

.code {
	background: var(--projects-project-link-code-bg);
	color: var(--projects-project-link-code-text);
	box-shadow: 0 0.75rem 1.5rem -0.75rem var(--projects-project-link-code-shadow);
}

.web {
	background: var(--projects-project-link-web-bg);
	color: var(--projects-project-link-web-text);
	box-shadow: var(--projects-project-link-web-shadow);
}

.tag {
	font-size: 0.75rem;
	font-weight: 800;
	text-transform: uppercase;
	background: var(--projects-project-tag-bg);
	color: var(--projects-project-tag-text);
	padding: 0.25rem 0.5rem;
	border-radius: 1.5rem;
}

@media screen and (min-width: 1440px) {
	.project {
		display: grid;
		grid-template-columns: 1fr auto;
		align-items: center;
		gap: 5rem;
		padding: 1.5rem;
	}

	.project:nth-child(even) {
		grid-template-columns: auto 1fr;
	}

	.project:nth-child(even) :first-child {
		grid-column: 2 / 3;
	}

	.project:nth-child(even) :last-child {
		grid-column: 1 / 2;
		grid-row: 1;
	}

	.project:nth-child(even) .info {
		justify-self: end;
	}

	.links {
		flex-direction: row;
		gap: 1rem;
	}
}

@media screen and (min-width: 768px) {
	.image {
		width: 480px;
	}

	.web,
	.code {
		width: auto;
		padding: 0.5rem 1.125rem;
	}
}
