.project {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	border-radius: 0.5rem;
	background: var(--projects-secondary-project-bg);
	border: 1px solid var(--projects-secondary-project-border);
	padding: 1.5rem 1rem;
	transition: box-shadow 216ms ease-in-out;
}

.title {
	width: fit-content;
	gap: 0.5rem;
	font-size: 1.125rem;
	font-weight: 800;
}

.title:hover {
	text-decoration: underline;
}

.description {
	font-size: 0.875rem;
	font-weight: 500;
	color: var(--projects-secondary-project-desc-text);
}

.languages {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1rem;
	list-style: none;
	padding: 0;
}

.language {
	font-size: 0.75rem;
	font-weight: 600;
	text-transform: capitalize;
	color: var(--projects-secondary-project-tag-text);
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.language[data-color]::before {
	content: '';
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
}

.language[data-color='HTML']::before {
	background: hsl(16, 81%, 64%);
}

.language[data-color='JavaScript']::before {
	background: hsl(56, 81%, 64%);
}

.language[data-color='CSS']::before {
	background: hsl(220, 81%, 64%);
}

.links {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
}

.link {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	color: var(--projects-secondary-project-link);
	font-size: 0.875rem;
	font-weight: 700;
	padding: 0.5rem 1rem;
	background: var(--projects-secondary-project-link-bg);
	border-radius: 0.5rem;
}

.project:hover {
	box-shadow: 0 0.75rem 2rem -1rem var(--projects-secondary-project-shadow-hover);
}
