.container {
	width: min(100%, var(--max-width));
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.name {
	font-size: clamp(2.25rem, 3vw, 2.5rem);
	font-weight: 800;
}

.job {
	font-size: clamp(1.5rem, 2vw, 1.75rem);
	font-weight: 500;
	color: hsl(228, 16%, 32%);
}

.background::before {
	content: '';
	position: absolute;
	inset: 0;
	background-color: var(--body-bg);
	background-image: url(https://transparenttextures.com/patterns/graphy-dark.png);
	width: 100%;
	height: 100vh;
	z-index: -1;
	opacity: 0.32;
}

.background::after {
	content: '';
	position: absolute;
	inset: 0;
	background: radial-gradient(
			50% 150% at 50% 50%,
			var(--hero-origin-gradient) 0%,
			var(--hero-final-gradient) 100%
		),
		linear-gradient(transparent 86%, var(--body-bg));
	width: 100%;
	height: 100vh;
	z-index: -1;
}

.container :nth-child(4) {
	margin-bottom: 2rem;
}

.link {
	border-radius: 0.375em;
	padding: 0.75em 1.5em;
	font-weight: 500;
	box-shadow: var(--hero-link-shadow);
	color: var(--hero-link-text);
}

.link::before {
	content: '';
	position: absolute;
	inset: 0;
	background: var(--hero-link-border-gradient);
	z-index: -1;
	border-radius: 0.375em;
}

.link::after {
	content: '';
	position: absolute;
	inset: 3px;
	background: var(--hero-link-bg);
	z-index: -1;
	border-radius: 0.375em;
}
