---
import "~/core/styles/global.css";

import { Font } from "astro:assets";
import type { Locale } from "~/i18n";
import { DEFAULT_LOCALE } from "~/i18n";

interface Props {
	lang?: Locale;
	title?: string;
}

const { lang = DEFAULT_LOCALE, title = "David Ponce Vargas" } = Astro.props;

const themeCookie = Astro.cookies.get("theme")?.value;
const isDark = themeCookie === "dark";
---

<html lang={lang} class:list={["scroll-smooth antialiased", { dark: isDark }]}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<Font cssVariable="--font-app-sans" preload />
		<Font cssVariable="--font-app-mono" />
		<script is:inline>
			(function () {
				var cookie = document.cookie.match(/(?:^|; )theme=([^;]*)/);
				var theme = cookie ? decodeURIComponent(cookie[1]) : "system";
				if (theme === "system") {
					if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
						document.documentElement.classList.add("dark");
					} else {
						document.documentElement.classList.remove("dark");
					}
				}
			})();
		</script>
	</head>
	<body
		class="flex min-h-full flex-col bg-background text-foreground tracking-[-1.5%]"
	>
		<slot />
	</body>
</html>
