<div class="perspective-[1950px]">
  <div
    class="size-full aspect-video rotate-x-60 transform-3d -rotate-z-45 [zoom:1.1] grid [grid-template-areas:'content']"
  >
    <!-- Capa 1 -->
    <div
      class="relative size-full overflow-hidden rounded-md border border-brand-a/70 bg-background [grid-area:content]"
    >
      <svg class="absolute inset-0 h-full w-full text-brand-a/70">
        <defs>
          <pattern
            id="frontend-stripes"
            width="5"
            height="5"
            patternUnits="userSpaceOnUse"
          >
            <path
              d="M-1 5L5 -1M3 6L6 3"
              stroke="currentColor"
              stroke-width="0.32"></path>
          </pattern>
        </defs>
        <rect width="100%" height="100%" fill="url(#frontend-stripes)"></rect>
      </svg>
    </div>

    <!-- Capa 2 -->
    <div
      class="bg-[#FCEFD6] [grid-area:content] translate-z-10 transform-3d flex flex-col items-center p-8 gap-2 rounded-md"
    >
      <svg
        width="192"
        height="128"
        fill="none"
        viewBox="0 0 192 128"
        class="text-foreground/60"
        stroke="currentColor"
        stroke-width="0.4"
      >
        <defs>
          <pattern
            id="frontend-stripes-card"
            width="5"
            height="5"
            patternUnits="userSpaceOnUse"
          >
            <path
              d="M-1 5L5 -1M3 6L6 3"
              stroke="currentColor"
              stroke-width="0.32"></path>
          </pattern>
        </defs>
        <path
          fill="url(#frontend-stripes-card)"
          d="M33.84 0a9.68 9.68 0 0 1 9.68 9.68v27.97l.041-.002c.117-1.243.26-2.504.439-3.778 2.146-15.32 14.95-8.258 15-8.23 3.738-7.706 8.599-3.558 10.644-1.232.36-.094.732-.141 1.106-.139h.01q.184 0 .369.015l1.9-12.316a2 2 0 0 1 .032-.203c.025-.132.068-.31.14-.514.141-.404.406-.94.899-1.414 1.052-1.015 2.807-1.462 5.53-.634a1 1 0 0 1-.581 1.914c-2.306-.701-3.21-.179-3.56.16-.21.2-.332.438-.401.636a2 2 0 0 0-.072.281l-.007.059-1.849 11.98L97.73 10.64c-.726-4.192 2.868-2.436 2.9-2.42-.15-2.22 1.641-2.45 4.35 1.45 2 2.875 1.581 4.922 1.22 5.805l.01-.015s-.87 15.4-19.75 24.1q-.641.33-1.267.631l2.367 1.42-.09.017.1.002c2.881 1.463 5.784 3.183 8.495 5.227l16.675-5.817v-3.29c.001-.011.378-3.848 4.492-4.305l-1.605-8.58-.013-.09q-.002-.019-.011-.063a2 2 0 0 0-.078-.276 1.9 1.9 0 0 0-.464-.732c-.099-.09-.27-.146-.549-.121a2 2 0 0 0-.334.062q-.038.01-.063.02l-7.557 4.32-.993-1.737 7.638-4.366.119-.058.006-.002.008-.004.022-.008.066-.024a4 4 0 0 1 .912-.195c.543-.048 1.391.007 2.082.645l.005.004a3.85 3.85 0 0 1 .986 1.523c.079.22.127.415.155.557q.022.109.031.177l.003.026 1.679 8.979c3.67.653 3.623 4.243 3.623 4.248v3.509c.398-.055.751-.1.97-.12.4 1.21.55 7.31-.97 7.74v1.941h-7.645l-10.128 5.738a29 29 0 0 1 2.773 5.872c1.23 3.617 1.646 7.344 1.674 10.65h9.456s-.7-4.06 2.9-7.26v7.75s.6-3.6 2.9-4.36v7.75c.002-.013.395-2.413 2.43-3.4v8.72c.002.022.137 1.41-1.46 1.45h24.85V49.595q.009-.669.139-1.33a7.26 7.26 0 0 1 14.381 1.416h-7.26v5.41q.098-.106.2-.207a7.26 7.26 0 0 1 7.911-1.57 7.26 7.26 0 0 1 4.479 6.706h-7.27v3.79a7.27 7.27 0 0 1 6.496-.463 7.26 7.26 0 0 1 4.474 6.714h-7.26v18.51c.012.03.633 1.724.97 4.36.34 2.65-2.74 3.87-2.74 3.87h.81c1.205.515 1.834 1.982 1.891 3.763C182.884 103.476 192 107.305 192 111.5c0 9.11-42.98 16.5-96 16.5s-96-7.39-96-16.5c0-4.766 11.764-9.061 30.575-12.073.305-1.593 2.3-2.624 2.305-2.627h.48c-.58 0-3.96-.88-2.42-6.3 1.534-5.377 7.688-5.796 7.74-5.8h8.72L33.84 66.31V19.36l-.48-.012a9.7 9.7 0 0 1-2.98-.628c-.582 1.204-2.71 5.469-5.217 8.903.463.47 5.688 5.75 7.227 6.257-.06.018-9.528 2.887-11.08-2.243a6 6 0 0 1-.53.303s-5.552-10.3 2.964-21.715l.416-.545A9.68 9.68 0 0 1 33.84 0m9.68 62.79 1.77 1.595.377-.489c-.529-1.708-1.006-3.673-1.395-5.853l-.752-.348z"
        ></path>
      </svg>

      <h5 class="text-black font-bold">Estas son mis vacaciones</h5>
      <p class="text-muted-foreground text-xs font-medium">
        Soy Cody, un aspirante a Dev, en 2019, organicé un viaje para
        desestresarme del código y en esta página quiero compartir contigo.
      </p>
    </div>

    <!-- Capa 3 -->
    <div
      class="flex flex-col items-center gap-2 [grid-area:content] text-center translate-z-12 pt-8 text-sm transform-3d"
    >
      <svg
        width="192"
        height="128"
        viewBox="0 0 192 128"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M96 128C149.02 128 192 120.61 192 111.5C192 102.39 149.02 95 96 95C42.98 95 0 102.39 0 111.5C0 120.61 42.98 128 96 128Z"
          fill="#A9DBF8"></path>
        <path
          d="M33.8398 0C36.407 0 38.8692 1.01976 40.6846 2.83496C42.4998 4.65024 43.5194 7.1125 43.5195 9.67969V62.79L66.75 83.7305H150.65V49.5938C150.656 49.1491 150.702 48.7039 150.789 48.2637C151.069 46.8555 151.761 45.5622 152.776 44.5469C153.792 43.5315 155.086 42.8397 156.494 42.5596C157.902 42.2796 159.362 42.4232 160.688 42.9727C162.015 43.5221 163.149 44.4527 163.946 45.6465C164.744 46.8403 165.17 48.2439 165.17 49.6797H157.91V55.0898C157.975 55.0195 158.042 54.9507 158.11 54.8828C159.126 53.8686 160.419 53.1778 161.827 52.8984C163.235 52.6191 164.695 52.7637 166.021 53.3135C167.346 53.8632 168.48 54.7937 169.277 55.9873C170.075 57.1809 170.5 58.5842 170.5 60.0195H163.23V63.8096C163.937 63.3893 164.715 63.0902 165.53 62.9287C166.939 62.6498 168.399 62.7947 169.726 63.3457C171.052 63.8967 172.185 64.8284 172.981 66.0234C173.778 67.2185 174.202 68.6234 174.2 70.0596H166.94V88.5703C166.952 88.6004 167.573 90.2936 167.91 92.9297C168.25 95.5797 165.17 96.7998 165.17 96.7998H33.3604C32.7804 96.7998 29.4004 95.92 30.9404 90.5C32.474 85.1227 38.6282 84.7036 38.6797 84.7002H47.4004L33.8398 66.3096V19.3604L33.3604 19.3477C30.9677 19.229 28.6971 18.2264 26.9951 16.5244C25.1799 14.7091 24.1602 12.2469 24.1602 9.67969C24.1602 7.1125 25.1798 4.65024 26.9951 2.83496C28.8104 1.01969 31.2726 4.04087e-05 33.8398 0Z"
          fill="#FF90CC"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M32.88 96.8C32.88 96.8 30.65 97.95 30.54 99.7C30.44 101.46 32.75 116.64 46.91 116.64C61.07 116.64 53.46 111.32 64.82 111.32C76.18 111.32 67.42 117.62 79.82 117.62C92.23 117.62 89.51 110.84 99.24 110.84C108.97 110.84 107.08 117.13 116.61 117.13C126.13 117.13 123.77 110.83 134.03 110.83C144.3 110.83 141.53 117.13 150.65 117.13C159.77 117.13 165.43 108.38 166.95 105.03C168.45 101.67 168.13 97.72 165.98 96.8H32.88Z"
          fill="#FE8099"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M30.54 9.68V18.39C30.54 18.39 25.24 29.74 20.78 31.94C20.78 31.94 15.05 21.31 24.16 9.68H30.54Z"
          fill="#484666"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M25.13 27.59C25.13 27.59 30.78 33.35 32.39 33.88C32.39 33.88 22.65 36.85 21.26 31.46L25.13 27.59Z"
          fill="#545E88"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M68.7 117.13V121L72.56 119.06L68.69 117.13H68.7ZM63 109.17L60.84 112.97L66.12 113.46L63 109.16V109.17ZM61.3 91.17L56.91 93.81L61.67 96.74L61.29 91.17H61.3ZM51.6 73.5L49.23 79.02L56.31 78.79L51.61 73.51L51.6 73.5ZM46 63.47L41.25 69.59L48.57 70.37L45.99 63.47H46ZM44.36 50.83L37.9 55.1L44.59 58.19L44.36 50.83Z"
          fill="#1BBB9A"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M109.35 73.08H119.03C119.03 73.08 118.33 69.02 121.93 65.82V73.57C121.93 73.57 122.53 69.97 124.83 69.21V76.96C124.83 76.96 125.22 74.55 127.26 73.56V82.28C127.26 82.28 127.41 83.69 125.8 83.73C124.2 83.77 107.41 83.73 107.41 83.73L109.35 73.08Z"
          fill="#1AA98C"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M105 56.63L116.12 50.33L116.61 39.69L95.8 46.95L105 56.63Z"
          fill="#19A689"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M93.86 83.73H108.38C108.38 83.73 111.37 72.64 107.9 62.43C104.42 52.23 95.9 45.86 87.57 41.63C79.3 41.33 64.92 51.63 80.79 73.08C80.79 73.08 87.09 73.17 89.02 73.57C90.38 73.85 91.46 73.73 92.41 75.5C93.81 78.12 93.86 83.73 93.86 83.73Z"
          fill="#EFBF6C"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M78.86 48.88H90.96V68.73H78.86V48.88Z"
          fill="#515981"></path>
        <path
          d="M84.66 52.76C84.9173 52.76 85.164 52.6578 85.3459 52.4759C85.5278 52.294 85.63 52.0473 85.63 51.79C85.63 51.5327 85.5278 51.286 85.3459 51.1041C85.164 50.9222 84.9173 50.82 84.66 50.82C84.4027 50.82 84.156 50.9222 83.9741 51.1041C83.7922 51.286 83.69 51.5327 83.69 51.79C83.69 52.0473 83.7922 52.294 83.9741 52.4759C84.156 52.6578 84.4027 52.76 84.66 52.76Z"
          fill="white"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M84.66 49.85C84.9148 49.85 85.167 49.9002 85.4024 49.9977C85.6378 50.0952 85.8516 50.2381 86.0318 50.4182C86.2119 50.5984 86.3548 50.8122 86.4523 51.0476C86.5498 51.283 86.6 51.5352 86.6 51.79C86.6 52.0448 86.5498 52.297 86.4523 52.5324C86.3548 52.7678 86.2119 52.9816 86.0318 53.1618C85.8516 53.3419 85.6378 53.4848 85.4024 53.5823C85.167 53.6798 84.9148 53.73 84.66 53.73C84.1455 53.73 83.652 53.5256 83.2882 53.1618C82.9244 52.798 82.72 52.3045 82.72 51.79C82.72 51.2755 82.9244 50.782 83.2882 50.4182C83.652 50.0544 84.1455 49.85 84.66 49.85ZM84.66 50.24C84.8636 50.24 85.0651 50.2801 85.2532 50.358C85.4412 50.4359 85.6121 50.5501 85.756 50.694C85.8999 50.8379 86.0141 51.0088 86.092 51.1968C86.1699 51.3849 86.21 51.5865 86.21 51.79C86.21 51.9935 86.1699 52.1951 86.092 52.3832C86.0141 52.5712 85.8999 52.7421 85.756 52.886C85.6121 53.0299 85.4412 53.1441 85.2532 53.222C85.0651 53.2999 84.8636 53.34 84.66 53.34C84.2489 53.34 83.8547 53.1767 83.564 52.886C83.2733 52.5953 83.11 52.2011 83.11 51.79C83.11 51.3789 83.2733 50.9847 83.564 50.694C83.8547 50.4033 84.2489 50.24 84.66 50.24Z"
          fill="white"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M58.04 38.24C58.04 38.24 65.19 50.54 86.46 39.56C105.34 30.86 106.21 15.46 106.21 15.46C106.21 15.46 95.21 34.86 58.04 38.24Z"
          fill="#E7B058"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M70.14 83.73H78.86V105.03C78.86 107.59 78.89 114.01 88.54 115.68C88.54 115.68 73.54 123.33 70.14 106V83.73Z"
          fill="#ECBA64"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M60.95 83.73V102.13C60.95 102.13 64.39 129.78 88.54 115.68C88.54 115.68 70.29 122.24 70.14 103.09V83.73H82.73C82.73 83.73 83.93 84.62 84.18 85.67V90.02L79.82 91.48C79.82 91.48 82.29 95.28 86.6 92.44C86.6 92.44 86.81 96.01 84.66 97.28C84.66 97.28 88.04 98.13 90.96 93.9L93.86 99.22V79.86C93.86 79.86 94.2 73.66 88.06 73.08H80.79L78.86 70.18C78.86 70.18 92.2 66.38 92.41 63.4V52.76C92.41 52.76 90.86 57.78 89.99 58.56L87.57 55.66L85.63 61.96C85.63 61.96 82.6 61.54 82.73 58.56C82.73 58.56 80.48 60.86 80.79 61.96H75C75 61.96 69.41 45 87.56 41.61L85.14 40.16C85.14 40.16 67.53 49.54 59 38.23C59 38.23 94.39 35.4 105.95 15.96C105.95 15.96 107.7 13.58 104.98 9.67C102.27 5.77 100.48 6 100.63 8.22C100.63 8.22 97 6.43 97.73 10.64L70.62 25.64C70.62 25.64 63.86 15.62 59 25.64C59 25.64 46.15 18.52 44 33.87C41.85 49.22 44.38 62.5 47.39 68.23C50.39 73.96 60.94 83.73 60.94 83.73H60.95Z"
          fill="#179A81"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M48.85 32.91L58.05 28.56C58.05 28.56 59.24 32.54 56.11 34.36C50.91 37.39 48.85 32.91 48.85 32.91Z"
          fill="white"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M53.13 30.89L56.66 29.17C56.66 29.17 57.12 30.76 55.92 31.4C53.92 32.48 53.13 30.89 53.13 30.89Z"
          fill="#43998A"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M60.46 28.07L69.18 24.27C69.18 24.27 69.86 27.84 67.72 29.22C63.58 31.91 60.46 28.07 60.46 28.07Z"
          fill="white"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M63.53 26.2L67.06 24.48C67.06 24.48 67.51 26.07 66.31 26.71C64.32 27.79 63.53 26.2 63.53 26.2Z"
          fill="#43998A"></path>
        <path
          d="M72.08 24.68L74.02 12.1C74.02 12.1 74.31 8.63 79.34 10.16M54.37 37.78L40.71 38.88C40.71 38.88 38.77 39.07 37.2 44.42"
          stroke="#F2C572"
          stroke-width="2"
          stroke-miterlimit="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M58.7 40.93C60.0486 40.93 61.342 40.3943 62.2956 39.4406C63.2493 38.487 63.785 37.1936 63.785 35.845C63.785 34.4964 63.2493 33.203 62.2956 32.2494C61.342 31.2957 60.0486 30.76 58.7 30.76C57.3514 30.76 56.058 31.2957 55.1044 32.2494C54.1507 33.203 53.615 34.4964 53.615 35.845C53.615 37.1936 54.1507 38.487 55.1044 39.4406C56.058 40.3943 57.3514 40.93 58.7 40.93Z"
          fill="#FC6957"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M58.7 30.76C59.3867 30.7295 60.0725 30.8385 60.716 31.0803C61.3595 31.3221 61.9473 31.6918 62.4441 32.1669C62.9408 32.6421 63.3361 33.213 63.6062 33.8451C63.8763 34.4773 64.0155 35.1576 64.0155 35.845C64.0155 36.5324 63.8763 37.2127 63.6062 37.8449C63.3361 38.477 62.9408 39.0479 62.4441 39.5231C61.9473 39.9982 61.3595 40.3679 60.716 40.6097C60.0725 40.8515 59.3867 40.9605 58.7 40.93C57.3904 40.8719 56.1537 40.3108 55.2475 39.3635C54.3413 38.4163 53.8356 37.1559 53.8356 35.845C53.8356 34.5341 54.3413 33.2737 55.2475 32.3265C56.1537 31.3792 57.3904 30.8181 58.7 30.76ZM58.7 32.21C59.6641 32.21 60.5886 32.593 61.2703 33.2747C61.952 33.9564 62.335 34.8809 62.335 35.845C62.335 36.8091 61.952 37.7336 61.2703 38.4153C60.5886 39.097 59.6641 39.48 58.7 39.48C57.7359 39.48 56.8114 39.097 56.1297 38.4153C55.448 37.7336 55.065 36.8091 55.065 35.845C55.065 34.8809 55.448 33.9564 56.1297 33.2747C56.8114 32.593 57.7359 32.21 58.7 32.21Z"
          fill="#F2C572"></path>
        <path
          d="M70.75 32.74C73.13 32.74 75.06 30.84 75.06 28.51C75.0561 27.9493 74.9417 27.3948 74.7235 26.8782C74.5053 26.3617 74.1875 25.8931 73.7882 25.4994C73.3889 25.1057 72.9159 24.7945 72.3964 24.5835C71.8768 24.3726 71.3207 24.266 70.76 24.27C68.37 24.27 66.45 26.17 66.45 28.51C66.4606 29.6407 66.9192 30.7211 67.7253 31.5141C68.5315 32.3071 69.6192 32.748 70.75 32.74Z"
          fill="#FC6957"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M70.75 24.27C73.13 24.27 75.06 26.17 75.06 28.51C75.0494 29.6407 74.5908 30.7211 73.7847 31.5141C72.9785 32.3071 71.8908 32.748 70.76 32.74C68.38 32.74 66.45 30.84 66.45 28.51C66.4539 27.9493 66.5683 27.3948 66.7865 26.8782C67.0047 26.3617 67.3225 25.8931 67.7218 25.4994C68.1211 25.1057 68.5941 24.7945 69.1136 24.5835C69.6332 24.3726 70.1893 24.266 70.75 24.27ZM70.75 25.73C71.1203 25.7247 71.4881 25.7924 71.8323 25.9293C72.1764 26.0661 72.4903 26.2694 72.7558 26.5276C73.0214 26.7857 73.2336 27.0937 73.3801 27.4338C73.5267 27.774 73.6048 28.1397 73.61 28.51C73.6048 28.8803 73.5267 29.246 73.3801 29.5862C73.2336 29.9263 73.0214 30.2343 72.7558 30.4924C72.4903 30.7506 72.1764 30.9539 71.8323 31.0907C71.4881 31.2276 71.1203 31.2953 70.75 31.29C70.0038 31.298 69.2848 31.0099 68.7506 30.4888C68.2164 29.9678 67.9105 29.2562 67.9 28.51C67.9105 27.7638 68.2164 27.0522 68.7506 26.5312C69.2848 26.0101 70.0038 25.722 70.75 25.73Z"
          fill="#F2C572"></path>
        <path d="M62.5 33L67 30Z" fill="black"></path>
        <path
          d="M62.5 33L67 30"
          stroke="#F2C572"
          stroke-width="2"
          stroke-miterlimit="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M106.93 26.62L113.7 22.75C113.7 22.75 114.95 22.24 115.74 22.97C116.52 23.7 116.61 24.68 116.61 24.68L119.51 40.18"
          stroke="#FF90CC"
          stroke-width="2"
          stroke-miterlimit="1.5"
          stroke-linecap="square"
          stroke-linejoin="round"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M112.74 37.75V50.82H122.9V37.75C122.9 37.75 122.96 33.4 118.06 33.4C113.16 33.4 112.74 37.75 112.74 37.75Z"
          fill="#FB7C7D"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M123.87 41.14C123.07 41.21 120.48 41.62 120.48 41.62C120.48 41.62 121.74 42.82 122.42 43.08L119.02 44.04C119.02 44.04 119.7 45.62 122.42 45.5L120 47.43C120 47.43 121.38 49.32 122.9 48.88C124.42 48.45 124.27 42.35 123.87 41.14Z"
          fill="#1BB898"></path>
      </svg>
    </div>
  </div>
</div>
