---
import { getLocale, getTranslations } from "~/i18n";
import ContactMe from "./contact-me.astro";
import WireNode from "~/core/components/ui/wire/wire-node.astro";

const lang = getLocale(Astro.currentLocale);
const t = getTranslations(lang);
---

<section class="relative flex size-full items-center justify-center">
  <div
    style={{ "--box-size": "1.5rem" }}
    class:list={[
      "absolute -z-1 h-full w-full bg-conic-[from_90deg_at_1px_1px] from-background from-25% to-muted to-0% bg-size-[var(--box-size)_var(--box-size)]",
      "before:bg-noise before:absolute before:inset-0",
      "after:absolute after:inset-0 after:bg-radial-[circle_at_center_top_in_oklch] after:from-transparent after:to-background after:to-55%",
    ]}
  >
  </div>

  <div
    class="z-1 mx-auto flex items-center justify-between min-h-[70dvh] w-full max-w-6xl gap-16"
  >
    <section>
      <h1
        class="bg-linear-to-r from-brand-a to-brand-b bg-clip-text text-4xl font-bold text-transparent text-balance"
      >
        David Ponce Vargas
      </h1>
      <h2 class="text-3xl font-medium text-muted-foreground text-balance">
        {t.hero.role}
      </h2>
      <p class="mt-4 text-muted-foreground max-w-prose mb-12 text-pretty">
        {t.hero.bio}
      </p>
      <div class="relative inline-block">
        <ContactMe />
        <WireNode class="top-1/2 left-1/2" />
        <WireNode class="top-1/2 -left-2" />
      </div>
    </section>
    <figure
      class:list={[
        "aspect-3/4 h-auto w-full max-w-xs mr-9 bg-avatar relative size-full bg-cover bg-no-repeat rounded-lg",
        "before:absolute before:top-4 before:-z-1 before:size-full before:opacity-50 before:blur-xl before:[background:inherit] before:rounded-lg",
      ]}
    >
    </figure>
  </div>
</section>
