---
import "~/core/styles/global.css";

import { Font } from "astro:assets";
import type { Locale } from "~/i18n";
import { DEFAULT_LOCALE } from "~/i18n";

interface Props {
	lang?: Locale;
	title?: string;
}

const { lang = DEFAULT_LOCALE, title = "David Ponce Vargas" } = Astro.props;
---

<html lang={lang} class="scroll-smooth antialiased dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<Font cssVariable="--font-app-sans" preload />
		<Font cssVariable="--font-app-mono" />
	</head>
	<body
		class="flex min-h-full flex-col bg-background text-foreground tracking-[-1.5%]"
	>
		<slot />
	</body>
</html>
