---
import '~/core/styles/global.css';

import { Font } from 'astro:assets';
---

<html lang="en" class="scroll-smooth antialiased">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<Font cssVariable="--font-app-sans" preload />
		<Font cssVariable="--font-app-mono" />
	</head>
	<body class="flex min-h-full flex-col bg-background text-foreground">
		<slot />
	</body>
</html>
