@import 'reset.css';
@import 'fonts.css';
@import 'variables.css';

body {
	font-family: var(--font-body);
	background: var(--body-bg);
	color: var(--body-text);
}

html {
	scroll-behavior: smooth;
}
