:root {
	--font-body: 'Manrope var', 'Manrope', sans-serif;
	--max-width: 1200px;
}

:root[data-color-mode='light'] {
	--body-bg: hsl(228, 24%, 98%);
	--body-text: hsl(228, 16%, 8%);

	/*
	 *  Navbar
	 */

	--navbar-bg: hsla(224, 16%, 96%);
	--navbar-border: hsla(224, 16%, 100%, 0.56);

	--navbar-bg-blured: hsla(224, 16%, 90%, 0.48);
	--navbar-link: hsl(224, 16%, 64%);
	--navbar-divider-color: hsl(224, 24%, 86%);
	--navbar-dropdown-shadow: hsla(224, 24%, 72%, 0.64);
	--navbar-dropdown-item-hover-bg: hsl(224, 16%, 92%);
	--navbar-dropdown-item-hover-text: hsl(224, 16%, 18%);

	--navbar-menu-button-hover: hsl(224, 18%, 91%);
	--navbar-menu-overlay-bg: hsla(224, 24%, 4%, 0.08);
	--navbar-menu-bg: hsla(224, 16%, 96%);
	--navbar-menu-border: hsl(224, 32%, 100%);
	--navbar-menu-link: hsl(224, 16%, 48%);
	--navbar-menu-link-hover: hsl(224, 24%, 24%);
	--navbar-menu-link-hover-bg: hsl(224, 16%, 92%);
	--navbar-menu-heading: hsl(224, 16%, 64%);
	--navbar-menu-modes-bg: hsl(224, 16%, 90%);
	--navbar-meu-mode-text: hsla(224, 16%, 48%);
	--navbar-menu-mode-text-hover-bg: hsl(224, 16%, 96%);
	--navbar-menu-mode-text-hover: hsl(224, 24%, 32%);
	--navbar-menu-mode-active-bg: hsl(224, 16%, 96%);
	--navbar-menu-mode-active-text: hsl(224, 32%, 24%);
	--navbar-menu-mode-active-shadow: inset 0 1px 0 hsla(224, 16%, 100%, 1);

	--draft-vertical-lines-color: linear-gradient(
		to bottom,
		hsla(224, 16%, 16%, 0) 0%,
		hsla(224, 16%, 16%, 0.42) 50%,
		hsla(224, 16%, 16%, 0) 100%
	);
	--draft-horizontal-lines-color: linear-gradient(
		to right,
		hsla(224, 16%, 16%, 0) 0%,
		hsla(224, 16%, 16%, 0.42) 50%,
		hsla(224, 16%, 16%, 0) 100%
	);

	/*
	 * Hero Section
	 */

	--hero-bg: hsl(228, 24%, 98%);
	--hero-origin-gradient: hsla(228, 24%, 98%, 0%);
	--hero-final-gradient: hsla(228, 24%, 98%, 98%);

	--hero-link-bg: hsl(228, 16%, 92%);
	--hero-link-text: hsl(228, 16%, 8%);
	--hero-link-shadow: 0 0.25rem 2.5rem -0.875rem hsl(312, 56%, 64%);
	--hero-link-border-gradient: linear-gradient(
		to right,
		hsl(348, 81%, 72%),
		hsl(276, 81%, 72%)
	);

	/*
	 * Projects Section
	 */

	--projects-project-desc-text: hsl(224, 16%, 42%);
	--projects-project-tag-bg: hsl(224, 16%, 94%);
	--projects-project-tag-text: hsl(224, 16%, 48%);
	--projects-project-link-code-bg: hsl(224, 16%, 100%);
	--projects-project-link-code-text: hsl(224, 16%, 48%);
	--projects-project-link-code-shadow: hsl(224, 24%, 90%);
	--projects-project-link-web-bg: linear-gradient(
		to right,
		hsl(348, 72%, 48%),
		hsl(276, 72%, 48%)
	);
	--projects-project-link-web-text: hsl(224, 56%, 98%);
	--projects-project-link-web-shadow: var(--hero-link-shadow);
	--projects-project-image-shadow-color-1: radial-gradient(
		circle,
		rgba(241, 126, 147, 0.81) 0%,
		rgba(191, 126, 241, 0.81) 100%
	);
	--projects-project-image-shadow-color-2: radial-gradient(
		circle,
		rgba(241, 126, 147, 0.81) 64%,
		rgba(191, 126, 241, 0.81) 100%
	);
	--projects-secondary-project-bg: hsl(224, 32%, 100%);
	--projects-secondary-project-border: hsl(224, 24%, 96%);
	--projects-secondary-project-desc-text: hsl(224, 16%, 48%);
	--projects-secondary-project-tag-bg: hsl(224, 16%, 90%);
	--projects-secondary-project-tag-text: hsl(224, 16%, 32%);
	--projects-secondary-project-link: hsl(224, 16%, 48%);
	--projects-secondary-project-link-bg: hsl(224, 16%, 94%);
	--projects-secondary-project-shadow-hover: hsl(224, 16%, 72%);

	/*
	 * Skills Section
	 */

	--react-color: 193, 95%, 68%;
	--skill-react-bg: hsla(var(--react-color), 12%);
	--skill-react-fill-color: hsl(var(--react-color));
	--skill-react-border-shadow: hsla(var(--react-color), 24%);

	--node-color: 89, 53%, 54%;
	--skill-node-bg: hsla(var(--node-color), 12%);
	--skill-node-fill-color: hsl(var(--node-color));
	--skill-node-border-shadow: hsla(var(--node-color), 24%);

	--typescript-color: 211, 60%, 48%;
	--skill-typescript-bg: hsla(var(--typescript-color), 12%);
	--skill-typescript-fill-color: hsl(var(--typescript-color));
	--skill-typescript-border-shadow: hsla(var(--typescript-color), 8%);

	--next-color: 0, 50%, 0%;
	--skill-next-bg: hsla(var(--next-color), 8%);
	--skill-next-fill-color: hsl(var(--next-color));
	--skill-next-border-shadow: hsla(var(--next-color), 8%);

	--git-color: 11, 90%, 55%;
	--skill-git-bg: hsla(var(--git-color), 12%);
	--skill-git-fill-color: hsl(var(--git-color));
	--skill-git-border-shadow: hsla(var(--git-color), 8%);

	--bash-color: 208, 16%, 19%;
	--skill-bash-bg: hsla(var(--bash-color), 12%);
	--skill-bash-fill-color: hsl(var(--bash-color));
	--skill-bash-border-shadow: hsla(var(--bash-color), 8%);

	--skill-caption-text: hsl(224, 16%, 56%);
}

:root[data-color-mode='dark'] {
	--body-bg: hsl(228, 16%, 8%);
	--body-text: hsl(228, 24%, 98%);

	/*
	 *  Navbar
	 */

	--navbar-bg: hsla(224, 16%, 12%);
	--navbar-border: hsla(224, 16%, 24%, 0.48);

	--navbar-bg-blured: hsla(224, 16%, 16%, 0.48);
	--navbar-link: hsl(224, 16%, 64%);
	--navbar-divider-color: hsl(224, 16%, 18%);
	--navbar-dropdown-shadow: hsla(224, 24%, 4%, 0.72);
	--navbar-dropdown-item-hover-bg: hsl(224, 16%, 18%);
	--navbar-dropdown-item-hover-text: hsl(224, 16%, 98%);

	--navbar-menu-button-hover: hsl(224, 18%, 18%);
	--navbar-menu-overlay-bg: hsla(224, 24%, 4%, 0.32);
	--navbar-menu-bg: hsla(224, 16%, 12%);
	--navbar-menu-border: hsla(224, 16%, 24%, 0.48);
	--navbar-menu-link: hsl(224, 16%, 64%);
	--navbar-menu-link-hover: hsl(224, 24%, 81%);
	--navbar-menu-link-hover-bg: hsl(224, 16%, 16%);
	--navbar-menu-heading: hsl(224, 16%, 42%);
	--navbar-menu-modes-bg: hsl(224, 16%, 6%);
	--navbar-meu-mode-text: hsla(224, 16%, 64%);
	--navbar-menu-mode-text-hover-bg: hsl(224, 16%, 12%);
	--navbar-menu-mode-text-hover: hsl(224, 24%, 81%);
	--navbar-menu-mode-active-bg: hsl(224, 16%, 14%);
	--navbar-menu-mode-active-text: hsl(224, 32%, 96%);
	--navbar-menu-mode-active-shadow: inset 0 1px 0 hsla(224, 16%, 32%, 0.32);

	--draft-vertical-lines-color: linear-gradient(
		to bottom,
		hsla(224, 16%, 81%, 0) 0%,
		hsla(224, 16%, 81%, 0.36) 50%,
		hsla(224, 16%, 81%, 0) 100%
	);

	--draft-horizontal-lines-color: linear-gradient(
		to right,
		hsla(224, 16%, 81%, 0) 0%,
		hsla(224, 16%, 81%, 0.36) 50%,
		hsla(224, 16%, 81%, 0) 100%
	);

	/*
	 * Hero Section
	 */

	--hero-bg: hsl(228, 16%, 8%);
	--hero-origin-gradient: hsla(228, 16%, 8%, 0%);
	--hero-final-gradient: hsla(228, 16%, 8%, 81%);

	--hero-link-bg: hsl(228, 16%, 16%);
	--hero-link-text: hsl(228, 24%, 98%);
	--hero-link-shadow: 0 0.25rem 2.5rem -0.875rem hsl(312, 56%, 64%);
	--hero-link-border-gradient: linear-gradient(
		to right,
		hsl(348, 81%, 72%),
		hsl(276, 81%, 72%)
	);

	/*
	 * Projects Section
	 */

	--projects-project-desc-text: hsl(224, 16%, 48%);
	--projects-project-tag-bg: hsl(224, 16%, 16%);
	--projects-project-tag-text: hsl(224, 16%, 56%);
	--projects-project-link-code-bg: hsl(224, 16%, 12%);
	--projects-project-link-code-text: hsl(224, 16%, 48%);
	--projects-project-link-code-shadow: hsl(224, 24%, 6%);
	--projects-project-link-web-bg: linear-gradient(
		to right,
		hsl(348, 98%, 81%),
		hsl(276, 98%, 81%)
	);
	--projects-project-link-web-text: hsl(224, 56%, 14%);
	--projects-project-link-web-shadow: var(--hero-link-shadow);
	--projects-project-image-shadow-color-1: radial-gradient(
		circle,
		rgba(241, 126, 147, 0.56) 0%,
		rgba(191, 126, 241, 0.56) 100%
	);
	--projects-project-image-shadow-color-2: radial-gradient(
		circle,
		rgba(241, 126, 147, 0.56) 64%,
		rgba(191, 126, 241, 0.56) 100%
	);
	--projects-secondary-project-bg: hsl(224, 18%, 10%);
	--projects-secondary-project-border: hsl(224, 16%, 14%);
	--projects-secondary-project-desc-text: hsl(228, 16%, 56%);
	--projects-secondary-project-tag-bg: hsl(224, 18%, 14%);
	--projects-secondary-project-tag-text: hsl(224, 18%, 56%);
	--projects-secondary-project-link: hsl(224, 18%, 48%);
	--projects-secondary-project-link-bg: hsl(224, 16%, 14%);
	--projects-secondary-project-shadow-hover: hsl(224, 32%, 6%);

	/*
	 * Skills Section
	 */

	--react-color: 193, 95%, 68%;
	--skill-react-bg: hsla(var(--react-color), 8%);
	--skill-react-fill-color: hsl(var(--react-color));
	--skill-react-border-shadow: hsla(var(--react-color), 8%);

	--node-color: 89, 53%, 54%;
	--skill-node-bg: hsla(var(--node-color), 8%);
	--skill-node-fill-color: hsl(var(--node-color));
	--skill-node-border-shadow: hsla(var(--node-color), 8%);

	--typescript-color: 211, 60%, 48%;
	--skill-typescript-bg: hsla(var(--typescript-color), 8%);
	--skill-typescript-fill-color: hsl(var(--typescript-color));
	--skill-typescript-border-shadow: hsla(var(--typescript-color), 8%);

	--next-color: 0, 50%, 100%;
	--skill-next-bg: hsla(var(--next-color), 8%);
	--skill-next-fill-color: hsl(var(--next-color));
	--skill-next-border-shadow: hsla(var(--next-color), 8%);

	--git-color: 11, 90%, 55%;
	--skill-git-bg: hsla(var(--git-color), 8%);
	--skill-git-fill-color: hsl(var(--git-color));
	--skill-git-border-shadow: hsla(var(--git-color), 8%);

	--bash-color: 102, 64%, 40%;
	--skill-bash-bg: hsla(var(--bash-color), 8%);
	--skill-bash-fill-color: hsl(var(--bash-color));
	--skill-bash-border-shadow: hsla(var(--bash-color), 8%);

	--skill-caption-text: hsl(224, 16%, 56%);
}
