---
import LinkedInLogo from "~/assets/linkedin.svg";
import GitHubLogo from "~/assets/github.svg";
import WireNode from "../../ui/wire/wire-node.astro";
---

<footer
  class:list={[
    "relative mt-64 overflow-clip",
    "before:absolute before:top-0 before:left-0 before:w-1/2 before:border-t before:border-t-border",
    "after:absolute after:top-0 after:right-0 after:w-1/2 after:border-t after:border-t-border after:border-dashed",
  ]}
>
  <div class="mx-auto w-full max-w-6xl px-4 pt-12 pb-24 relative">
    <section>
      <nav
        class="relative flex items-center before:pointer-events-none before:absolute before:rounded-md before:bg-brand-a/12 before:transition-[inset,opacity] before:duration-200 before:ease before:inset-[anchor(inside)] before:[position-anchor:--social-anchor] before:opacity-0 has-[a,button]:hover:before:opacity-100 has-[a,button]:focus-visible:before:opacity-100"
      >
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.linkedin.com/in/david-ponc/"
          class="relative p-1.5 transition-colors text-muted-foreground hover:text-brand-a focus-visible:text-brand-a hover:[anchor-name:--social-anchor] focus-visible:[anchor-name:--social-anchor]"
        >
          <WireNode class="top-1/2 left-1/2" />
          <LinkedInLogo class="size-7" />
        </a>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/david-ponc"
          class="p-1.5 transition-colors text-muted-foreground hover:text-brand-a focus-visible:text-brand-a hover:[anchor-name:--social-anchor] focus-visible:[anchor-name:--social-anchor]"
        >
          <GitHubLogo class="size-7" />
        </a>
      </nav>
      <p class="mt-4 text-sm text-muted-foreground">
        © {new Date().getFullYear()} David Ponce Vargas. Todos los derechos reservados.
      </p>
    </section>
    <figure>
      <svg
        width="24"
        height="23"
        viewBox="0 0 24 23"
        fill="none"
        class="size-64 absolute right-3 top-3 text-border"
      >
        <mask id="path-1-inside-1_14_4" fill="white">
          <path
            d="M5.09434 1.11933e-08H12.6415C15.644 1.11933e-08 18.5234 1.19272 20.6465 3.31577C22.7695 5.43883 23.9623 8.3183 23.9623 11.3208C23.9623 14.3232 22.7695 17.2027 20.6465 19.3257C18.5234 21.4488 15.644 22.6415 12.6415 22.6415H4.97736C4.36349 22.6222 3.76426 22.4493 3.23442 22.1387C2.70457 21.8281 2.26101 21.3897 1.94425 20.8635C1.62749 20.3373 1.44763 19.7401 1.42111 19.1265C1.3946 18.513 1.52227 17.9025 1.79245 17.3509L2.35849 16.1962C2.63749 15.6258 2.69267 14.9715 2.51315 14.3624C2.33363 13.7533 1.93245 13.2336 1.38868 12.9057L0.645283 12.4566C0.55849 12.4038 0.475472 12.3434 0.4 12.2679L0.373585 12.2415C0.134178 11.9963 0.000109232 11.6672 -1.78814e-07 11.3245V11.317C0.00111728 10.9738 0.13657 10.6446 0.377358 10.4L0.4 10.3736C0.475472 10.2981 0.55849 10.2377 0.645283 10.1849L1.38868 9.73208C2.51321 9.05283 2.93585 7.62642 2.35849 6.44906L1.79245 5.29057C1.51833 4.73019 1.39134 4.10927 1.42345 3.48627C1.45557 2.86327 1.64572 2.25869 1.97601 1.72948C2.3063 1.20026 2.76585 0.763816 3.31139 0.46125C3.85694 0.158684 4.47051 -4.86684e-05 5.09434 1.11933e-08ZM12.2415 19.9962C13.1208 19.1283 13.7434 17.9396 14.0755 16.7509C14.3698 15.7132 14.5849 14.6264 14.517 13.5585C14.4983 13.3635 14.4045 13.1835 14.2556 13.0564C14.1066 12.9292 13.914 12.865 13.7185 12.8773C13.523 12.8895 13.34 12.9773 13.208 13.122C13.0761 13.2667 13.0055 13.4571 13.0113 13.6528C13.0679 14.5547 12.8679 15.4717 12.6226 16.3472C12.3472 17.3283 11.8377 18.3132 11.0943 19.0038C10.9595 19.1285 10.8748 19.2981 10.856 19.4808C10.8373 19.6635 10.8858 19.8467 10.9925 19.9962L11.0075 20.0151L11.0189 20.034L11.0377 20.0528L11.0528 20.0679C11.1229 20.1445 11.2079 20.2058 11.3027 20.248C11.3975 20.2902 11.5 20.3124 11.6038 20.3132H11.6113C11.7989 20.3117 11.9791 20.2404 12.117 20.1132L12.1434 20.0868L12.1623 20.0679L12.2 20.034L12.2264 20.0113L12.2415 19.9962ZM15.3736 15.7094C15.366 16.3321 15.2981 17.0642 14.917 17.5736C14.8575 17.6529 14.8142 17.7431 14.7896 17.8391C14.7651 17.9351 14.7596 18.035 14.7736 18.1331C14.7876 18.2313 14.8208 18.3257 14.8713 18.4109C14.9218 18.4962 14.9886 18.5707 15.0679 18.6302C15.1472 18.6897 15.2374 18.7329 15.3334 18.7575C15.4295 18.7821 15.5294 18.7876 15.6275 18.7735C15.8256 18.7452 16.0044 18.6394 16.1245 18.4792C16.6943 17.717 16.8755 16.6491 16.8792 15.7245C16.8812 15.5244 16.8036 15.3316 16.6635 15.1887C16.5234 15.0457 16.3322 14.9643 16.1321 14.9623C15.9319 14.9603 15.7392 15.0379 15.5962 15.178C15.4533 15.3181 15.3718 15.5093 15.3698 15.7094H15.3736ZM10.3245 15.0491C10.2491 15.7132 10.0943 16.483 9.63019 16.9887C9.50104 17.1368 9.43478 17.3295 9.44549 17.5258C9.45621 17.722 9.54306 17.9063 9.68757 18.0395C9.83208 18.1728 10.0229 18.2443 10.2193 18.2391C10.4158 18.2338 10.6025 18.1521 10.7396 18.0113C11.4151 17.2792 11.717 16.1849 11.8226 15.2189C11.8352 15.0254 11.7729 14.8344 11.6485 14.6857C11.5241 14.5369 11.3472 14.4418 11.1545 14.4199C10.9618 14.3981 10.7681 14.4512 10.6136 14.5684C10.4591 14.6855 10.3556 14.8576 10.3245 15.0491ZM21.0264 13.5509C21.3665 12.2661 21.4072 10.9203 21.1454 9.61718C20.8836 8.31409 20.3262 7.08845 19.5163 6.03463C18.7063 4.9808 17.6653 4.12689 16.4735 3.53863C15.2816 2.95037 13.9706 2.64346 12.6415 2.64151H5.09434L5.02641 2.64528C4.85712 2.65582 4.69304 2.70799 4.54875 2.79718C4.40446 2.88636 4.28443 3.00979 4.1993 3.15652C4.11418 3.30324 4.06661 3.46871 4.06081 3.63824C4.055 3.80776 4.09115 3.9761 4.16604 4.1283L4.73208 5.28302C5.21597 6.27487 5.37077 7.39525 5.17395 8.48115C4.97713 9.56705 4.43896 10.5618 3.63774 11.3208C4.13268 11.7905 4.5301 12.3533 4.80724 12.9769C5.08438 13.6004 5.2358 14.2725 5.25283 14.9547L5.41132 14.9057C5.91056 14.7271 6.38291 14.4807 6.81509 14.1736C8.18491 13.2377 9.56981 12.2491 11.1698 11.7434C14.7925 10.5925 17.9358 11.8717 21.0189 13.5509H21.0264ZM16.8642 6.63019C17.3646 6.63019 17.8445 6.82898 18.1983 7.18282C18.5522 7.53666 18.7509 8.01657 18.7509 8.51698C18.7509 9.01739 18.5522 9.4973 18.1983 9.85114C17.8445 10.205 17.3646 10.4038 16.8642 10.4038C16.3637 10.4038 15.8838 10.205 15.53 9.85114C15.1761 9.4973 14.9774 9.01739 14.9774 8.51698C14.9774 8.01657 15.1761 7.53666 15.53 7.18282C15.8838 6.82898 16.3637 6.63019 16.8642 6.63019Z"
          ></path>
        </mask>
        <path
          d="M5.09434 1.11933e-08H12.6415C15.644 1.11933e-08 18.5234 1.19272 20.6465 3.31577C22.7695 5.43883 23.9623 8.3183 23.9623 11.3208C23.9623 14.3232 22.7695 17.2027 20.6465 19.3257C18.5234 21.4488 15.644 22.6415 12.6415 22.6415H4.97736C4.36349 22.6222 3.76426 22.4493 3.23442 22.1387C2.70457 21.8281 2.26101 21.3897 1.94425 20.8635C1.62749 20.3373 1.44763 19.7401 1.42111 19.1265C1.3946 18.513 1.52227 17.9025 1.79245 17.3509L2.35849 16.1962C2.63749 15.6258 2.69267 14.9715 2.51315 14.3624C2.33363 13.7533 1.93245 13.2336 1.38868 12.9057L0.645283 12.4566C0.55849 12.4038 0.475472 12.3434 0.4 12.2679L0.373585 12.2415C0.134178 11.9963 0.000109232 11.6672 -1.78814e-07 11.3245V11.317C0.00111728 10.9738 0.13657 10.6446 0.377358 10.4L0.4 10.3736C0.475472 10.2981 0.55849 10.2377 0.645283 10.1849L1.38868 9.73208C2.51321 9.05283 2.93585 7.62642 2.35849 6.44906L1.79245 5.29057C1.51833 4.73019 1.39134 4.10927 1.42345 3.48627C1.45557 2.86327 1.64572 2.25869 1.97601 1.72948C2.3063 1.20026 2.76585 0.763816 3.31139 0.46125C3.85694 0.158684 4.47051 -4.86684e-05 5.09434 1.11933e-08ZM12.2415 19.9962C13.1208 19.1283 13.7434 17.9396 14.0755 16.7509C14.3698 15.7132 14.5849 14.6264 14.517 13.5585C14.4983 13.3635 14.4045 13.1835 14.2556 13.0564C14.1066 12.9292 13.914 12.865 13.7185 12.8773C13.523 12.8895 13.34 12.9773 13.208 13.122C13.0761 13.2667 13.0055 13.4571 13.0113 13.6528C13.0679 14.5547 12.8679 15.4717 12.6226 16.3472C12.3472 17.3283 11.8377 18.3132 11.0943 19.0038C10.9595 19.1285 10.8748 19.2981 10.856 19.4808C10.8373 19.6635 10.8858 19.8467 10.9925 19.9962L11.0075 20.0151L11.0189 20.034L11.0377 20.0528L11.0528 20.0679C11.1229 20.1445 11.2079 20.2058 11.3027 20.248C11.3975 20.2902 11.5 20.3124 11.6038 20.3132H11.6113C11.7989 20.3117 11.9791 20.2404 12.117 20.1132L12.1434 20.0868L12.1623 20.0679L12.2 20.034L12.2264 20.0113L12.2415 19.9962ZM15.3736 15.7094C15.366 16.3321 15.2981 17.0642 14.917 17.5736C14.8575 17.6529 14.8142 17.7431 14.7896 17.8391C14.7651 17.9351 14.7596 18.035 14.7736 18.1331C14.7876 18.2313 14.8208 18.3257 14.8713 18.4109C14.9218 18.4962 14.9886 18.5707 15.0679 18.6302C15.1472 18.6897 15.2374 18.7329 15.3334 18.7575C15.4295 18.7821 15.5294 18.7876 15.6275 18.7735C15.8256 18.7452 16.0044 18.6394 16.1245 18.4792C16.6943 17.717 16.8755 16.6491 16.8792 15.7245C16.8812 15.5244 16.8036 15.3316 16.6635 15.1887C16.5234 15.0457 16.3322 14.9643 16.1321 14.9623C15.9319 14.9603 15.7392 15.0379 15.5962 15.178C15.4533 15.3181 15.3718 15.5093 15.3698 15.7094H15.3736ZM10.3245 15.0491C10.2491 15.7132 10.0943 16.483 9.63019 16.9887C9.50104 17.1368 9.43478 17.3295 9.44549 17.5258C9.45621 17.722 9.54306 17.9063 9.68757 18.0395C9.83208 18.1728 10.0229 18.2443 10.2193 18.2391C10.4158 18.2338 10.6025 18.1521 10.7396 18.0113C11.4151 17.2792 11.717 16.1849 11.8226 15.2189C11.8352 15.0254 11.7729 14.8344 11.6485 14.6857C11.5241 14.5369 11.3472 14.4418 11.1545 14.4199C10.9618 14.3981 10.7681 14.4512 10.6136 14.5684C10.4591 14.6855 10.3556 14.8576 10.3245 15.0491ZM21.0264 13.5509C21.3665 12.2661 21.4072 10.9203 21.1454 9.61718C20.8836 8.31409 20.3262 7.08845 19.5163 6.03463C18.7063 4.9808 17.6653 4.12689 16.4735 3.53863C15.2816 2.95037 13.9706 2.64346 12.6415 2.64151H5.09434L5.02641 2.64528C4.85712 2.65582 4.69304 2.70799 4.54875 2.79718C4.40446 2.88636 4.28443 3.00979 4.1993 3.15652C4.11418 3.30324 4.06661 3.46871 4.06081 3.63824C4.055 3.80776 4.09115 3.9761 4.16604 4.1283L4.73208 5.28302C5.21597 6.27487 5.37077 7.39525 5.17395 8.48115C4.97713 9.56705 4.43896 10.5618 3.63774 11.3208C4.13268 11.7905 4.5301 12.3533 4.80724 12.9769C5.08438 13.6004 5.2358 14.2725 5.25283 14.9547L5.41132 14.9057C5.91056 14.7271 6.38291 14.4807 6.81509 14.1736C8.18491 13.2377 9.56981 12.2491 11.1698 11.7434C14.7925 10.5925 17.9358 11.8717 21.0189 13.5509H21.0264ZM16.8642 6.63019C17.3646 6.63019 17.8445 6.82898 18.1983 7.18282C18.5522 7.53666 18.7509 8.01657 18.7509 8.51698C18.7509 9.01739 18.5522 9.4973 18.1983 9.85114C17.8445 10.205 17.3646 10.4038 16.8642 10.4038C16.3637 10.4038 15.8838 10.205 15.53 9.85114C15.1761 9.4973 14.9774 9.01739 14.9774 8.51698C14.9774 8.01657 15.1761 7.53666 15.53 7.18282C15.8838 6.82898 16.3637 6.63019 16.8642 6.63019Z"
          stroke="currentColor"
          stroke-width="0.2"
          stroke-dasharray="0.4,0.2"
          mask="url(#path-1-inside-1_14_4)"></path>
      </svg>
    </figure>
  </div>
</footer>
