.container,
.links {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.link {
	font-size: 0.875rem;
	font-weight: 600;
	color: var(--navbar-menu-link);
	transition: color 250ms ease, text-shadow 300ms ease;
}

.link:not(.activeLink):hover {
	color: var(--navbar-menu-link-hover);
}

.activeLink {
	color: var(--navbar-menu-link-text-active);
	text-shadow: 0 0.375em 1em var(--navbar-menu-link-shadow-active);
}

.divider {
	width: 2px;
	height: 21px;
	background-color: var(--navbar-divider-color);
}

.menuContainer {
	position: relative;
	display: flex;
}

.trigger {
	background-color: transparent;
	border: 0;
	padding: 0;
	color: var(--navbar-menu-link);
	cursor: pointer;
}

.items {
	position: absolute;
	right: 0;
	width: 140px;
	top: calc(100% + 0.5rem);
	background-color: var(--navbar-menu-bg);
	border-radius: 0.5rem;
	border: 1px solid var(--navbar-menu-border);
	box-shadow: 0 0.75rem 2rem -0.75rem var(--navbar-dropdown-shadow);
}

.item {
	width: 100%;
	border: 0;
	background-color: transparent;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	padding: 0.75rem 1.5rem;
	font-weight: 600;
	font-size: 0.875rem;
	cursor: pointer;
	color: var(--navbar-menu-link);
}

.item:first-child {
	border-radius: 0.5rem 0.5rem 0 0;
}

.item:last-child {
	border-radius: 0 0 0.5rem 0.5rem;
}

.item:hover:not(.active) {
	background-color: var(--navbar-dropdown-item-hover-bg);
	color: var(--navbar-dropdown-item-hover-text);
	outline: none;
}

.item:focus:not(.active) {
	background-color: var(--navbar-dropdown-item-hover-bg);
	color: var(--navbar-dropdown-item-hover-text);
	outline: none;
}

.active {
	background-color: var(--navbar-dropdown-item-hover-bg);
	color: var(--navbar-dropdown-item-hover-text);
	outline: none;
}

.glow {
	fill: var(--navbar-menu-link-glow-color);
	filter: var(--navbar-menu-link-glow-shadow);
}
