@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	@support selector(::-webkit-scrollbar) {
		::-webkit-scrollbar {
			width: 5px;
		}

		::-webkit-scrollbar-track {
			background: transparent;
		}

		::-webkit-scrollbar-thumb {
			background: gray;
			border-radius: 0px;
		}
	}

	* {
		scrollbar-width: thin;
		scrollbar-color: gray transparent;
	}
}

:root {
	--background: var(--color-white);
	--foreground: var(--color-mauve-900);
}

.dark {
	--background: var(--color-mauve-950);
	--foreground: var(--color-mauve-50);
}

@theme inline {
	--default-font-family: var(--font-app-sans);
	--default-mono-font-family: var(--font-app-mono);

	--color-background: var(--background);
	--color-foreground: var(--foreground);
}
