.container {
	width: min(100%, var(--max-width));
	margin-inline: auto;
	min-height: 100vh;
}

.project {
	width: 480px;
	position: relative;
}

.footer {
	padding: 1.5rem 0;
}

.title {
	text-align: center;
	font-size: 1.25rem;
	font-weight: 900;
	margin: 2rem 0;
}

.collection {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	gap: 1.5rem;
}
