.container {
	width: min(100%, var(--max-width));
	margin-inline: auto;
	min-height: 100vh;
}

.project {
	width: 480px;
	position: relative;
}

.repositories {
	padding: 1.5rem 0;
}

.title {
	text-align: center;
	font-size: 1.25rem;
	font-weight: 900;
	margin: 2rem 0;
}

.collection {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	gap: 1.5rem;
	padding: 0 1.5rem;
}

.footer {
	display: flex;
	justify-content: flex-end;
	padding: 0 1.5rem;
	padding-bottom: 1.5rem;
}

.link {
	text-align: right;
	display: flex;
	align-items: center;
	gap: 0.25rem;
	font-size: 0.875rem;
	font-weight: 600;
	color: hsl(224, 92%, 64%);
	position: relative;
}

.link:hover.link::after {
	content: '';
	position: absolute;
	display: inline-block;
	bottom: 0;
	width: 100%;
	height: 1.5px;
	background: hsl(224, 92%, 64%);
}

@media screen and (min-width: 1200px) {
	.collection,
	.footer {
		padding: 0;
	}
}
